/* google font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

/* header styling */
header {
    width: 100%;
    background-color: white;
    z-index: 1000;
    position: fixed;
}

header .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto ;
    padding: 10px 0;
    background-color: white;
}

header .logo {
    font-size: 15px;
}

nav {
    display: flex;
    align-items: center; 
    column-gap: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 40px;
    border-right: 1px solid gray;
    padding: 5px 20px 5px 0;
}

nav ul li {
    list-style: none;
}

nav .right-contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

nav .right-contact .right-contact-icon {
    background-color: #61C3A1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right-contact .right-contact-icon:hover {
background-color: rgb(67, 4, 4);
}

nav .right-contact .right-contact-text p {
    font-size: 14px;
    line-height: 18px;
}

/* global styling */
.container {
    height: 80%;
    width: 80%;
    display: flex;
}

.parent-flex {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: bisque; */
}

.service-left {
    display: flex;
    column-gap: 10px;
    margin-bottom: 15px;  
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

/* End global styling */

/* main styling */

main .container .left-text .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 30px;
}

.btn {
    background-color:  #FF6433;
    color: white;
    padding: 16px 40px;
    margin-top: 15px;
    border: none;
    border-radius: 12px;
    width: 190px;
    height: 50px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #bf401a;
    color: black;
    border-radius: 50px;
}

main .container .left-text .content h1 {
    width: 100%px;
    font-size: 40px;
    margin-top: 100px;
}

main .container .left-text .content .bottom-content {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 100px;
}

main .container .left-text .content .bottom-content-icon {
    font-size: 50px;
}
main .container .right-img {
    /* width: 50%;
    height: 100vh; */
    background-image: url(../img/image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

main .container .right-img .service {
    position: absolute;
    left: -20%;
    top: 0;
}


main .container .right-img .rating {
    position: absolute;
    right: -20%;
    bottom: 0;
}

/* car servicing section */
.car-service-bg {
    background-color: #e2e6e9;
}

.car-service-bg .list {
    width: 80%;
}

.car-service-bg .container .left .know-more {
    display: flex;
    margin: 60px;
    margin-top: 60px;
    font-size: 20px;
    justify-content: space-evenly;
}

label {
    display: block;
    margin-top: 5px;
}

input {
    width: 500px;
    height: 50px;
    border: none;
}

.form .btn {
    margin-top: 20px;
    margin-bottom: 80px;
}

/* get a quote */

.get-a-quote .container .left .left-text {
    padding: 20px;
}

.get-a-quote .container .left h1 {
    font-size: 40px;
    width: 80%;
}

.get-a-quote .container .left .btn {
    margin-top: 20px;
}

.get-a-quote .list {
    width: 70%;
}

.get-a-quote .container .right .list .service-left {
    margin-bottom: 40px;
}

.get-a-quote .container .right .list .service-left h3 {
    font-size: 20px;
}

/* what we offer */

#what-we-offer {
    background-color: #f2f2f2;
}
#what-we-offer .content {
    width: 100%;
    text-align: center;
}

#what-we-offer .content .what-we-offer-cards {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 5px;
    justify-content: center;
}

#what-we-offer .content .what-we-offer-cards .card {
    background-color: white;
    height: 200px;
    width: 200px;
}

#what-we-offer .content .what-we-offer-cards .card .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

/* Get in touch */
#get-in-touch {
    height: 70vh;
    width: 100%;
}

#get-in-touch .first-row {
    height: 75%;
    width: 100%;
    display: flex;
}

#get-in-touch .first-row .left-car {
    width: 50%;
    height: 100%;
    background-image: url(../img/Car\ left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

#get-in-touch .first-row .left-car .left-car-card {
    height: 100%;
    width: 70%;
    background-color: #ff6433;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px; 
}

#get-in-touch .first-row .left-car .left-car-card h1 {
    color: white;
    font-size: 30px;
    text-align: left;
}

#get-in-touch .first-row .left-car .left-car-card button {
    background-color: #1E1B1B;
    color: white;
    padding: 16px 40px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    width: 150px;
    height: 50px;
}
#get-in-touch .first-row .right-car {
    width: 50%;
    height: 100%;
    background-image: url(../img/Car\ right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#get-in-touch .second-row {
    height: 25%;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#get-in-touch .second-row .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#get-in-touch .second-row .container h1 {
    color: #661CE7;
}

/* footer section */

.footer-bg {
    background-color: black;
}

/* For tablet */
@media screen and (min-width: 425px) and (max-width: 850px)  {
    .parent-flex{
        height: auto;
    }

    .container {
        flex-direction: column-reverse;
        width: 100%;
        padding: 20px 10px;
        row-gap: 20px;
        height: auto;
    }
    
    header .container {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }
    
    header h1 {
        font-size: 22px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        column-gap: 30px;
        border: none;
    }

    nav ul li {
        font-size: 20px;
    }

    nav .right-contact .right-contact-icon {
        width: 22px;
        height: 22px;
    }

    nav .right-contact .right-contact-icon .icon {
        font-size: 15px;
    }

    nav .right-contact .right-contact-text p {
        font-size: 15px;
    }

    .left,.right {
        width: 100%;
    }

    main .container .right-img {
        height: 70vh;
    }

    main {
        position: relative;
    }

    .main-left {
        position: absolute;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-left .content {
        align-items: center;
        padding-top: 50%;
    }

    main .container .left-text .content h1 {
        font-size: 60px;
        color: white;
    }

    main .container .left-text .content .bottom-content  {
        color: white;
        font-size: larger;
    }

    .btn {
    background-color:  #FF6433;
    color: white;
    padding: 26px 50px;
    margin-top: 15px;
    font-size: 25px;
    width: 300px;
    height: 80px;
    }

    .service {
        bottom: 0%;
        display: none;
    }

    .rating {
        bottom: 0%;
        display: none;
    }

    input {
        width: 700px;
    }

    #what-we-offer .content h6 {
        font-size: 25px;
    }

    #what-we-offer .content .what-we-offer-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    #what-we-offer .content .what-we-offer-cards .card {
        height: 200px;
        width: 250px;
    }

    #get-in-touch {
        height: auto;
    }

    #get-in-touch .first-row {
        flex-direction: column;
        height: auto;
    }

    #get-in-touch .first-row .left-car {
        width: 100%;
        height: 30vh;
    }

    #get-in-touch .first-row .right-car {
        height: 30vh;
        width: 100%;
    }

    #get-in-touch .second-row {
        height: auto;
        padding: 15px 0;
    }

    #get-in-touch .second-row .container {
        flex-wrap: wrap;
        width: 100%;
    }

    #get-in-touch .second-row .container .one {
        width: 50%;
        text-align: center;
    }

    #get-in-touch .second-row .container .one p {
        font-size: 20px;
    }

    #get-in-touch .second-row .container .one h1 {
        font-size: 30px;
    }
}

/* For mobile */
@media screen and (max-width: 425px) {

    /* global */
    .parent-flex {
        height: auto;
    }

    .container {
        height: auto;
    }

    header {
        position: static;
    }
    
    header .container {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }
    
    header h1 {
        font-size: 18px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        column-gap: 20px;
        border: none;
    }

    nav ul li {
        font-size: 12px;
    }

    nav .right-contact .right-contact-icon {
        width: 20px;
        height: 20px;
    }

    nav .right-contact .right-contact-icon .icon {
        font-size: 12px;
    }

    nav .right-contact .right-contact-text p {
        font-size: 12px;
    }

    .container {
        flex-direction: column-reverse;
        width: 100%;
        padding: 10px 10px;
        row-gap: 20px;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    main .container .left-text .content {
        text-align: center;
        width: 100%;
    }

    main .container .right-img {
        height: 50vh;
    }

    h1 {
        font-size: 30px;
    }

    .btn {
        padding: 7px 20px;
        margin-left: 80px;
    }

    main .container .right-img .rating {
        right: -3%;
    }

    input {
        width: 300px;
    }

    #what-we-offer .content .what-we-offer-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    #what-we-offer .content .what-we-offer-cards .card {
        height: 150px;
        width: 150px;
    }

    #get-in-touch {
        height: auto;
    }

    #get-in-touch .first-row {
        flex-direction: column;
        height: auto;
    }

    #get-in-touch .first-row .left-car {
        width: 100%;
    }

    #get-in-touch .first-row .right-car {
        height: 30vh;
        width: 100%;
    }

    #get-in-touch .second-row {
        height: auto;
        padding: 15px 0;
    }

    #get-in-touch .second-row .container {
        flex-wrap: wrap;
        width: 100%;
    }

    #get-in-touch .second-row .container .one {
        width: 50%;
        text-align: center;
    }

    #get-in-touch .second-row .container .one p {
        font-size: 14px;
    }

    #get-in-touch .second-row .container .one h1 {
        font-size: 20px;
    }

    #get-in-touch .first-row .left-car .left-car-card h1 {
        font-size: 25px;
        padding-top: 20px;
    }

    #get-in-touch .first-row .left-car .left-car-card button {
        background-color: #1E1B1B;
        color: white;
        padding: 10px 20px;
        margin-bottom: 10px;
        border: none;
        border-radius: 12px;
        width: 120px;
        height: 40px;
    }
}

